:root {
    --ff : 'Roboto', sans-serif;
    --nav-size : 75px;
    --player-height : 80px;
    --main-color : #e4e9ed;
    --secondary-color : #EFF3F5;
}

* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    color : #000;
    font-family : var(--ff);
}

html,
body,
.wrapper {
    min-height : 100vh;
}

.wrapper {
    padding-top : var(--nav-size);
}

.container {
    max-width : 1100px;
    padding : 0 10px;
    width : 100%;
    height : 100%;
    margin : 0 auto;
}

ul, ol {
    list-style : none;
    display : flex;
}

a {
    text-decoration : none;
}

img {
    max-width : 100%;
    max-height : 100%;
    object-fit : contain;
}

section {
    padding-top : 15px;
}

.title {
    font-weight : 700;
    font-size : 20px;
    margin : 0 auto;
    margin-bottom : 15px;
    text-align : center;
}

.btn {
    border : 0;
    border-radius : 5px;
    padding : 10px;
    font-size : 16px;
    background-color : #0275d8;
    color : white;
    margin : 0 auto;
    margin-top : 5px;
    cursor : pointer;
}

.btn:hover {
    transform : scale(0.98);
}

.btn:active {
    transform : scale(0.96);
}

.form-control {
    display : flex;
    flex-wrap : wrap;
    margin-bottom : 5px;
}

.form-control label {
    width : 100%;
    margin-bottom : 3px;
}

.form-control input:not([type="checkbox"]) {
    width : 100%;
    height : 27px;
    font-size : 16px;
    padding : 0 5px;
}

.form-control input[type="file"] {
    padding : 0;
}

.form-control input[type="checkbox"] {
    width : 16px;
    height : 16px;
}

/* Flex */
.flex {
    display : flex;
    justify-content : center;
    align-items : center;
}

.justify-between {
    justify-content : space-between;
}

.justify-around {
    justify-content : space-around;
}

.justify-evenly {
    justify-content : space-evenly;
}

.justify-start {
    justify-content : flex-start;
}

.justify-end {
    justify-content : flex-end;
}

/* Grid */
.grid {
    display : grid;
    grid-template-rows : repeat(2, 1fr);
    grid-template-columns : 1fr;
}

/* Messages */
.error {
    border : 2px dashed #dc3545;
    display : flex;
    text-align : center;
    align-items : center;
}

/* Alerts */
.alert-primary {
    color: #004085!important;
    background-color: #cce5ff!important;
    border-color: #b8daff!important;
}

.alert-secondary {
    color: #383d41!important;
    background-color: #e2e3e5!important;
    border-color: #d6d8db!important;
}

.alert-success {
    color: #155724!important;
    background-color: #d4edda!important;
    border-color: #c3e6cb!important;
}

.alert-danger {
    color: #721c24!important;
    background-color: #f8d7da!important;
    border-color: #f5c6cb!important;
}

.alert-warning {
    color: #856404!important;
    background-color: #fff3cd!important;
    border-color: #ffeeba!important;
}

/* Visibility */
.d-block {
    display : block!important;
}

.d-none {
    display : none!important;
}

.d-list-item {
    display : list-item!important;
}

/* Margin */
.my-1 {
	margin : 1rem 0;
}

.my-2 {
	margin : 1.5rem 0;
}

.my-3 {
	margin : 2rem 0;
}

.my-4 {
	margin : 3rem 0;
}

.my-5 {
	margin : 4rem 0;
}

.m-1 {
	margin : 1rem;
}

.m-2 {
	margin : 1.5rem;
}

.m-3 {
	margin : 2rem;
}

.m-4 {
	margin : 3rem;
}

.m-5 {
	margin : 4rem;
}

/* Padding */
.px-1 {
	padding : 0 1rem;
}

.px-2 {
	padding : 0 1.5rem;
}

.px-3 {
	padding : 0 2rem;
}

.px-4 {
	padding : 0 3rem;
}

.px-5 {
	padding : 0 4rem;
}

.py-1 {
	padding : 1rem 0;
}

.py-2 {
	padding : 1.5rem 0;
}

.py-3 {
	padding : 2rem 0;
}

.py-4 {
	padding : 3rem 0;
}

.py-5 {
	padding : 4rem 0;
}

.p-1 {
	padding : 1rem;
}

.p-2 {
	padding : 1.5rem;
}

.p-3 {
	padding : 2rem;
}

.p-4 {
	padding : 3rem;
}

.p-5 {
	padding : 4rem;
}

.w-100 {
    width : 100%;
}

.w-75 {
    width : 75%;
}

.w-50 {
    width : 50%;
}

.w-25 {
    width : 25%;
}